<configuration>
  <packageSources>
    <add key="MyPrivateFeed" value="https://pkgs.dev.azure.com/cpas-1030/_packaging/main/npm/registry/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Azure Devops" value="https://pkgs.dev.azure.com/cpas-1030/_packaging/main/nuget/v3/index.json" />
  </packageSources>
    <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <MyPrivateFeed>
      <add key="Username" value="VssSessionToken" />
      <add key="ClearTextPassword" value="cXJkamhpaGdqYzd5eGVxY2JjcWFsZGlzZWJsNnN6aXhuYW1nZHd4bTNzYnNweXRuc2x5cQ" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </MyPrivateFeed>
  </packageSourceCredentials>
</configuration>