
<?php

$_config["flux"] = array(
	"cbe_number" => "0212347945",
	"secteur" => "17",
	"institution" => "1",
	"numero_organisation" => "21015",
	"old" => array(
		"user_id" => "00901739417",
		"email" => "aicha.abouhachem@cpas-schaerbeek.be",
		"org_unit" => "212347945",
	),
	"soa" => array(
		"username" => "E0212347945",
		"password" => "p435041533020C07E4F073274696A",
	)
);

