
      <div class="modal fade" id="recordManagement" tabindex="-1" role="dialog" aria-labelledby="recordManagementLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form id="recordForm" class="form-horizontal" action="javascript:alert( 'Action effectuée avec succès!!' );">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Ajout d'un record</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="nseq1InputGroup">
                      <label for="nseq1Input" class="col-sm-2 control-label">Nseq1</label>
                      <div class="col-sm-4">                    
                      <input type="number" class="form-control" id="nseq1Input" disabled>
                      </div>
                      <div class="col-sm-6">
                      </div>  
                    </div>                                                      
                    <div class="form-group" id="11MinputGroup">                    
                        <label for="mini11Input" class="col-sm-2 control-label">Mini11</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini11Input" placeholder="Mini11">
                        </div>
                        <label for="maxi11Input" class="col-sm-2 control-label">Maxi11</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi11Input" placeholder="Maxi11">
                        </div>                   
                    </div>
                    <div class="form-group" id="21MinputGroup">                    
                        <label for="mini21Input" class="col-sm-2 control-label">Mini21</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini21Input" placeholder="Mini21">
                        </div>
                        <label for="maxi21Input" class="col-sm-2 control-label">Maxi21</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi21Input" placeholder="Maxi21">
                        </div>                   
                    </div>
                    <div class="form-group" id="31MinputGroup">                    
                        <label for="mini31Input" class="col-sm-2 control-label">Mini31</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini31Input" placeholder="Mini31">
                        </div>
                        <label for="maxi31Input" class="col-sm-2 control-label">Maxi31</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi31Input" placeholder="Maxi31">
                        </div>                   
                    </div>
                    <div class="form-group" id="41MinputGroup">                    
                        <label for="mini41Input" class="col-sm-2 control-label">Mini41</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini41Input" placeholder="Mini41">
                        </div>
                        <label for="maxi41Input" class="col-sm-2 control-label">Maxi41</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi41Input" placeholder="Maxi41">
                        </div>                   
                    </div>
                    <div class="form-group" id="51MinputGroup">                    
                        <label for="mini51Input" class="col-sm-2 control-label">Mini51</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini51Input" placeholder="Mini51">
                        </div>
                        <label for="maxi51Input" class="col-sm-2 control-label">Maxi51</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi51Input" placeholder="Maxi51">
                        </div>                   
                    </div>
                    <div class="form-group" id="61MinputGroup">                    
                        <label for="mini61Input" class="col-sm-2 control-label">Mini61</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini61Input" placeholder="Mini61">
                        </div>
                        <label for="maxi61Input" class="col-sm-2 control-label">Maxi61</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi61Input" placeholder="Maxi61">
                        </div>                   
                    </div>
                    <div class="form-group" id="71MinputGroup">                    
                        <label for="mini71Input" class="col-sm-2 control-label">Mini71</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini71Input" placeholder="Mini71">
                        </div>
                        <label for="maxi71Input" class="col-sm-2 control-label">Maxi71</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi71Input" placeholder="Maxi71">
                        </div>                   
                    </div>
                    <div class="form-group" id="81MinputGroup">                    
                        <label for="mini81Input" class="col-sm-2 control-label">Mini81</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini81Input" placeholder="Mini81">
                        </div>
                        <label for="maxi81Input" class="col-sm-2 control-label">Maxi81</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi81Input" placeholder="Maxi81">
                        </div>                   
                    </div>
                    <div class="form-group" id="91MinputGroup">                    
                        <label for="mini91Input" class="col-sm-2 control-label">Mini91</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini91Input" placeholder="Mini91">
                        </div>
                        <label for="maxi91Input" class="col-sm-2 control-label">Maxi91</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi91Input" placeholder="Maxi91">
                        </div>                   
                    </div>
                    <div class="form-group" id="11AinputGroup">                    
                        <label for="amin11Input" class="col-sm-2 control-label">Amin11</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="amin11Input" placeholder="Amin11" maxlength="80">
                        </div>
                        <label for="amax11Input" class="col-sm-2 control-label">Amax11</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="amax11Input" placeholder="Amax11" maxlength="80">
                        </div>                   
                    </div>
                    <div class="form-group" id="infor1InputGroup">
                      <label for="infor1Input" class="col-sm-2 control-label">Infor1</label>
                      <div class="col-sm-10">                    
                      <input type="text" class="form-control" id="infor1Input" placeholder="Infor1" maxlength="80">
                      </div>                    
                    </div>
                    <input type="text" id="action" hidden> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="tableManagement" tabindex="-1" role="dialog" aria-labelledby="tableManagementLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form id="tableForm" class="form-horizontal" action="javascript:alert( 'Action effectuée avec succès!' );">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Ajout d'une table</h4>
                </div>
                <div class="modal-body">                                                                          
                    <div class="form-group" id="ntabl1InputTableGroup">
                      <label for="ntabl1InputTable" class="col-sm-2 control-label">Ntabl1</label>
                      <div class="col-sm-4">                    
                        <input type="number" class="form-control" id="ntabl1InputTable" disabled>
                      </div>
                      <div class="col-sm-6">
                      </div>  
                    </div>
                    <div class="form-group" id="nseq1InputTableGroup">
                      <label for="nseq1InputTable" class="col-sm-2 control-label">Nseq1</label>
                      <div class="col-sm-4">                    
                      <input type="number" class="form-control" id="nseq1InputTable" disabled>
                      </div>
                      <div class="col-sm-6">
                      </div>  
                    </div>                                                      
                    <div class="form-group" id="11MinputTableGroup">                    
                        <label for="mini11InputTable" class="col-sm-2 control-label">Mini11</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini11InputTable" placeholder="Mini11">
                        </div>
                        <label for="maxi11InputTable" class="col-sm-2 control-label">Maxi11</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi11InputTable" placeholder="Maxi11">
                        </div>                   
                    </div>
                    <div class="form-group" id="21MinputTableGroup">                    
                        <label for="mini21InputTable" class="col-sm-2 control-label">Mini21</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini21InputTable" placeholder="Mini21">
                        </div>
                        <label for="maxi21InputTable" class="col-sm-2 control-label">Maxi21</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi21InputTable" placeholder="Maxi21">
                        </div>                   
                    </div>
                    <div class="form-group" id="31MinputTableGroup">                    
                        <label for="mini31InputTable" class="col-sm-2 control-label">Mini31</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini31InputTable" placeholder="Mini31">
                        </div>
                        <label for="maxi31InputTable" class="col-sm-2 control-label">Maxi31</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi31InputTable" placeholder="Maxi31">
                        </div>                   
                    </div>
                    <div class="form-group" id="41MinputTableGroup">                    
                        <label for="mini41InputTable" class="col-sm-2 control-label">Mini41</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini41InputTable" placeholder="Mini41">
                        </div>
                        <label for="maxi41InputTable" class="col-sm-2 control-label">Maxi41</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi41InputTable" placeholder="Maxi41">
                        </div>                   
                    </div>
                    <div class="form-group" id="51MinputTableGroup">                    
                        <label for="mini51InputTable" class="col-sm-2 control-label">Mini51</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini51InputTable" placeholder="Mini51">
                        </div>
                        <label for="maxi51InputTable" class="col-sm-2 control-label">Maxi51</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi51InputTable" placeholder="Maxi51">
                        </div>                   
                    </div>
                    <div class="form-group" id="61MinputTableGroup">                    
                        <label for="mini61InputTable" class="col-sm-2 control-label">Mini61</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini61InputTable" placeholder="Mini61">
                        </div>
                        <label for="maxi61InputTable" class="col-sm-2 control-label">Maxi61</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi61InputTable" placeholder="Maxi61">
                        </div>                   
                    </div>
                    <div class="form-group" id="71MinputTableGroup">                    
                        <label for="mini71InputTable" class="col-sm-2 control-label">Mini71</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini71InputTable" placeholder="Mini71">
                        </div>
                        <label for="maxi71InputTable" class="col-sm-2 control-label">Maxi71</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi71InputTable" placeholder="Maxi71">
                        </div>                   
                    </div>
                    <div class="form-group" id="81MinputTableGroup">                    
                        <label for="mini81InputTable" class="col-sm-2 control-label">Mini81</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini81InputTable" placeholder="Mini81">
                        </div>
                        <label for="maxi81InputTable" class="col-sm-2 control-label">Maxi81</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi81InputTable" placeholder="Maxi81">
                        </div>                   
                    </div>
                    <div class="form-group" id="91MinputTableGroup">                    
                        <label for="mini91InputTable" class="col-sm-2 control-label">Mini91</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="mini91InputTable" placeholder="Mini91">
                        </div>
                        <label for="maxi91InputTable" class="col-sm-2 control-label">Maxi91</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="maxi91InputTable" placeholder="Maxi91">
                        </div>                   
                    </div>
                    <div class="form-group" id="11AinputTableGroup">                    
                        <label for="amin11InputTable" class="col-sm-2 control-label">Amin11</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="amin11InputTable" placeholder="Amin11" maxlength="80">
                        </div>
                        <label for="amax11InputTable" class="col-sm-2 control-label">Amax11</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="amax11InputTable" placeholder="Amax11" maxlength="80">
                        </div>                   
                    </div>
                    <div class="form-group" id="infor1InputTableGroup">
                      <label for="infor1InputTable" class="col-sm-2 control-label">Infor1</label>
                      <div class="col-sm-10">                    
                      <input type="text" class="form-control" id="infor1InputTable" placeholder="Infor1" maxlength="80" required>
                      </div>                    
                    </div>
                    <input type="text" id="actionTable" hidden> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Attention</h4>
            </div>
              <div class="modal-body" id="contenu-modal-alert">
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal-wide fade" id="dupliModal" tabindex="-1" role="dialog" aria-labelledby="dupliModalLabel">
        <div class="modal-dialog modal-wide" role="document">
          <div class="modal-content">
            <form id="recordFormMulti" class="form-horizontal" action="javascript:alert( 'Action effectuée avec succès!!' );">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Duplication</h4>
              </div>
                <div id="FPPARMEURO-tables-dupli" >
                  <p>                               
                    <div id="contenu-modal-dupli">
                    </div>                      
                </p>
                </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-default" id="bModifier">Modification</button>
                <button type="button" class="btn btn-default" id="bDupliquer">Duplication</button>  
              </div>
            </form>
          </div>
        </div>
      </div>
    <footer>      
      <script src="../libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <?php require_once("../scripts/functions.js"); ?>
    </footer>    
    </div>
  </body>
</html>