<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FPPARMEURO</title>
        <link href="../libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
         <link rel="stylesheet" href="../CSS/style.css" >
        <!--[if lt IE 9]>
            <script src="libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="libs/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    