<div id="FPPARMEURO-tables">
     <table id="tab" class="table-bordered table-condensed cf padding10">
        <thead class="cf">
            <tr >
                <th>NSEQ1</th>
                <th>MINI11</th>
                <th>MAXI11</th>
                <th>MINI21</th>
                <th>MAXI21</th>
                <th>MINI31</th>
                <th>MAXI31</th>
                <th>MINI41</th>
                <th>MAXI41</th>
                <th>MINI51</th>
                <th>MAXI51</th>
                <th>MINI61</th>
                <th>MAXI61</th>
                <th>MINI71</th>
                <th>MAXI71</th>
                <th>MINI81</th>
                <th>MAXI81</th>
                <th>MINI91</th>
                <th>MAXI91</th>                                
                <th>AMIN11</th>
                <th>AMAX11</th>
                <th>INFOR1</th>
                <th style="width:16px"></th>
            </tr>
        </thead>
        <tbody>
                          