            
            <!--<tr class="bod">
                <td class="ntabl1" hidden><?php echo($record->ntabl1); ?></td>
                <td class="nseq1"><?php echo($record->nseq1); ?></td>
                <td class="mini11"><input type="number" class="form-control" id="mini11Input" readonly value=<?php echo($record->mini11); ?> ></td>
                <td class="maxi11"><input type="number" class="form-control" id="maxi11Input" readonly value=<?php echo($record->maxi11); ?> ></td>
                <td class="mini21"><input type="number" class="form-control" id="mini21Input" readonly value=<?php echo($record->mini21); ?> ></td>
                <td class="maxi21"><input type="number" class="form-control" id="maxi21Input" readonly value=<?php echo($record->maxi21); ?> ></td>
                <td class="mini31"><input type="number" class="form-control" id="mini31Input" readonly value=<?php echo($record->mini31); ?> ></td>
                <td class="maxi31"><input type="number" class="form-control" id="maxi31Input" readonly value=<?php echo($record->maxi31); ?> ></td>
                <td class="mini41"><input type="number" class="form-control" id="mini41Input" readonly value=<?php echo($record->mini41); ?> ></td>
                <td class="maxi41"><input type="number" class="form-control" id="maxi41Input" readonly value=<?php echo($record->maxi41); ?> ></td>
                <td class="mini51"><input type="number" class="form-control" id="mini51Input" readonly value=<?php echo($record->mini51); ?> ></td>
                <td class="maxi51"><input type="number" class="form-control" id="maxi51Input" readonly value=<?php echo($record->maxi51); ?> ></td>
                <td class="mini61"><input type="number" class="form-control" id="mini61Input" readonly value=<?php echo($record->mini61); ?> ></td>
                <td class="maxi61"><input type="number" class="form-control" id="maxi61Input" readonly value=<?php echo($record->maxi61); ?> ></td>
                <td class="mini71"><input type="number" class="form-control" id="mini71Input" readonly value=<?php echo($record->mini71); ?> ></td>
                <td class="maxi71"><input type="number" class="form-control" id="maxi71Input" readonly value=<?php echo($record->maxi71); ?> ></td>
                <td class="mini81"><input type="number" class="form-control" id="mini81Input" readonly value=<?php echo($record->mini81); ?> ></td>
                <td class="maxi81"><input type="number" class="form-control" id="maxi81Input" readonly value=<?php echo($record->maxi81); ?> ></td>
                <td class="mini91"><input type="number" class="form-control" id="mini91Input" readonly value=<?php echo($record->mini91); ?> ></td>
                <td class="maxi91"><input type="number" class="form-control" id="maxi91Input" readonly value=<?php echo($record->maxi91); ?> ></td>
                <td class="amin11"><input type="text" class="form-control" id="amin11Input" readonly value=<?php echo($record->amin11); ?> ></td>
                <td class="amax11"><input type="text" class="form-control" id="amax11Input" readonly value=<?php echo($record->amax11); ?> ></td>
                <td class="infor1"><input type="text" class="form-control" id="infor1Input" readonly value=<?php echo($record->infor1); ?> ></td>                    
            </tr>-->
                        
            <tr class="bod">
               
                <td class="nseq1"><?php echo($record->nseq1); ?></td>
                <td class="mini11"><?php echo($record->mini11); ?></td>
                <td class="maxi11"><?php echo($record->maxi11); ?></td>
                <td class="mini21"><?php echo($record->mini21); ?></td>
                <td class="maxi21"><?php echo($record->maxi21); ?></td>
                <td class="mini31"><?php echo($record->mini31); ?></td>
                <td class="maxi31"><?php echo($record->maxi31); ?></td>
                <td class="mini41"><?php echo($record->mini41); ?></td>
                <td class="maxi41"><?php echo($record->maxi41); ?></td>
                <td class="mini51"><?php echo($record->mini51); ?></td>
                <td class="maxi51"><?php echo($record->maxi51); ?></td>
                <td class="mini61"><?php echo($record->mini61); ?></td>
                <td class="maxi61"><?php echo($record->maxi61); ?></td>
                <td class="mini71"><?php echo($record->mini71); ?></td>
                <td class="maxi71"><?php echo($record->maxi71); ?></td>
                <td class="mini81"><?php echo($record->mini81); ?></td>
                <td class="maxi81"><?php echo($record->maxi81); ?></td>
                <td class="mini91"><?php echo($record->mini91); ?></td>
                <td class="maxi91"><?php echo($record->maxi91); ?></td>
                <td class="amin11"><?php echo($record->amin11); ?></td>
                <td class="amax11"><?php echo($record->amax11); ?></td>
                <td class="infor1"><?php echo($record->infor1); ?></td>
                <td class="ntabl1" hidden><?php echo($record->ntabl1); ?></td>                    
            </tr>






