<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
		  <rules>
			<rule name="Règle 1 importée" stopProcessing="true">
			  <match url="^([a-zA-z0-9\-]+)$" ignoreCase="false" />
			  <action type="Rewrite" url="index.php?controlleur={R:1}" appendQueryString="false" />
			</rule>
			<rule name="Règle 2 importée" stopProcessing="true">
			  <match url="^([a-zA-z0-9\-]+)/([a-zA-z0-9\-]+)$" ignoreCase="false" />
			  <action type="Rewrite" url="index.php?controlleur={R:1}&amp;action={R:2}" appendQueryString="false" />
			</rule>
			<rule name="Règle 3 importée" stopProcessing="true">
			  <match url="^([a-zA-z0-9\-]+)/([a-zA-z0-9\-]+)/([0-9\-]+)$" ignoreCase="false" />
			  <action type="Rewrite" url="index.php?controlleur={R:1}&amp;action={R:2}&amp;id={R:3}" appendQueryString="false" />
			</rule>
		  </rules>
		</rewrite>
	</system.webServer>
</configuration>